<footer class="bg-secondary mt-3 d-flex flex-wrap p-5 justify-content-between ">
   
    <div>
       
        <h4>Thank You</h4>
        <h4>Have A great Day !</h4>
        <h6>
            Contact Numbers: <br>
            <i class="fas fa-phone-alt"></i> +91 7825385634 <br>
            <i class="fas fa-phone-alt"></i> +91 9354628737 <br>
            <i class="fas fa-at"></i> selectronics@gmail.com <br>
            <i class="fas fa-map-marker-alt"></i> Regional Offices: <br>
            Hyd | Mumbai | Banglore <br>
            <i class="fas fa-globe-africa"></i> Global Offices: <br>
            New York | Sydney | Paris
        </h6>
      
    </div>
    <div> 
        <h5>Follow Us on</h5>
         <span>
             <h3><a href="#" class="m-2 "> <i class="fab fa-instagram icon"></i></a>Instagram </h3>
             <h3><a href="#" class="m-2 "> <i class="fab fa-twitter icon"></i></a>Twitter</h3>
             <h3><a href="#" class="m-2 "><i class="fab fa-youtube icon"></i></a>YouTube</h3>
         </span>   
     
    </div>
    

</footer>
