<!-- prod 8 -->
<div class="col">
    <div class="card shadow m-3 ">
        <div class="row">
            <div class="col">
                <img src="http://i.dell.com/sites/csimages/Videos_Images/en/3e4554b9-3080-4a01-bbe7-556b79678c6e.jpg" alt="" width="100%" class="rounded align-center d-block">
                <p class="m-2 text-info">
                    Dell <br> Inspiron PLus
                </p>

                <button class="btn btn-secondary float-end m-2" data-bs-target="#pro8" data-bs-toggle="modal">More Specs</button>

                <!-- specs-8 -->
                <div class="modal fade" id="pro8">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                More about the item
                                <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <img class="h-100 w-100" src="https://cdn.mos.cms.futurecdn.net/vEcELHdn998wRTcCzqV5m9.jpg" alt="" width="100%" class="rounded align-center d-block">

                                    </div>
                                    <div class="col-sm-7">
                                        <p >
                                            Brand: Dell <br>
                                            Processor: Intel i5 9th Gen <br>
                                            RAM: 8GB <br>
                                            Price: Rs 56,000/-
                                        </p>
                                    </div>
                                    
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success">Add to Cart</button>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>