<!-- <div class="card shadow">
    <img src="{{productObj.productImage}}" class="card-img-top w-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{productObj.productTitle}}</h5>
      <p class="card-text">{{productObj.description}}</p>
      <button href="#" class="btn btn-primary float-end" (click)="sendProductTOParent(productObj)" > <i class="fas fa-plus-square"></i> {{productObj.button}}</button>
    </div>
  </div>  -->


<div class="effect">

  <div class="card">
    <div class="Pimg">
      <img src="{{productObj.productImage}}" class="card-img-top w-100" alt="...">
    </div>
   <div class="content">
      <div class="card-body">
        <h5 class="card-title">{{productObj.productTitle}}</h5>
        <p class=" fs-bold">{{productObj.description}}</p>
        <button href="#" class="btn btn-primary float-end mb-3" (click)="sendProductTOParent(productObj)" > <i class="fas fa-cart-plus"></i> {{productObj.button}}</button>
      </div>
   </div>

</div>
</div>
