<div class="container">
    <div class="card border shadow w-50 mt-1 mx-auto ">
      <div class="card-body  d-flex flex-wrap flex-column">
        <div >
                <h1 id="heading"  >User Registration</h1>
              
              <form id="formstyle" #ref="ngForm" (ngSubmit)="addUserData(ref)" >
                <!-- ngForm should be used in form element and ngModel in each input element -->
                <div >
                  <label for="un">Username</label>
                  <input type="text" name="username" id="un" class="form-control" ngModel autocomplete="off">
                </div>
  
                <div>
                  <label for="dob">DOB</label>
                  <input type="date" name="Dob" id="dob" class="form-control" ngModel autocomplete="off">
                </div>
  
                <div>
                  <label for="ml">Mail</label>
                  <input type="email" name="mail" id="ml" class="form-control" ngModel autocomplete="off">
                </div> 
                <br>
                <button type="submit" class="btn btn-success">Register</button>
              </form>
  
              <div class="text-center mt-3" >
                
                <h1 *ngIf="users.length==0">No Users</h1>
                <div *ngIf="users.length!=0">
                <h2 class="text-info">List of Users</h2>
                <!-- accordion -->
                <div class="accordion" id="accordionExample"  *ngFor="let user of users;let ind=index;">
                  <div   class="accordion-item">
                    <h2 class="accordion-header" attr.id="headingOne{{ind}}">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapseOne{{ind}}"  aria-expanded="true" aria-controls="collapseOne">
                        <h6>{{user.username}}</h6>
                        <!--Delete button-->
                        <button class="btn btn-lg float-end deleteBtn"  (click)="deleteUser(ind)">
                          <i class="fas text-danger float-end fa-trash-alt"></i>
                        </button>
      
                      </button>
                    </h2>
                    <div attr.id="collapseOne{{ind}}"  class="accordion-collapse collapse" attr.aria-labelledby="headingOne{{ind}}"  data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <h6 >Name: {{user.username}}</h6>
                        <hr>
                        <h6>Date of Birth:{{user.Dob}}</h6>
                        <hr>
                        <h6>Email:{{user.mail}}</h6>
                        <hr>
                            </div>
                    </div>
                  </div>
                  
                
                </div>
              </div>
  
              </div>
  
  
        </div>
      </div>
    </div>
    </div>
  
  