<!-- prod 2 -->
<div class="col">
    <div class="card shadow m-3 ">
        <div class="row">
            <div class="col">
                <img  src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202005/mibookpro_0.jpeg?ikxsywW.QZ5qY0zj7GdEv9Yo7M1oOtpo&size=770:433" alt="" width="100%" class="rounded align-center d-block">
                <p class="m-2 text-info">
                    Acer <br> Neon
                </p>

                <button class="btn btn-secondary float-end m-2" data-bs-target="#pro2" data-bs-toggle="modal">More Specs</button>

                <!-- specs-2 -->
                <div class="modal fade" id="pro2">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                More about the item
                                <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <img class="h-100 w-100" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202005/mibookpro_0.jpeg?ikxsywW.QZ5qY0zj7GdEv9Yo7M1oOtpo&size=770:433" alt="" width="100%" class="rounded align-center d-block">

                                    </div>
                                    <div class="col-sm-7">
                                        <p >
                                            Brand: Acer <br>
                                            Processor: Intel i7 9th Gen <br>
                                            RAM: 8GB <br>
                                            Price: Rs 1,30,000/-
                                        </p>
                                    </div>
                                    
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success">Add to Cart</button>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>