.form-control{
    border: none;
    border-bottom: 1px solid rgb(214, 187, 214);
    background-color:transparent;
    box-shadow: none;
    border-radius: 5px;
    color:white;
}

label{
    color:white;
    margin-top: 20px;
}
#heading{
    font-size: 3rem;
    color: brown;
    margin-top: 20px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
